<div class="section-image-text" id="section-{{ section.id }}">
  <div class="section-image-text__container">
    <img src="{{ section.settings.image }}" alt="Image" class="section-image-text__image" />
    <div class="section-image-text__content">
      <p class="section-image-text__text">{{ section.settings.text }}</p>
      <a href="{{ section.settings.button_link }}" class="section-image-text__button">{{ section.settings.button_text }}</a>
    </div>
  </div>
</div>
